@font-face {
  font-family: 'ko';
  src: url("/css/font/NotoSansCJKkr-DemiLight.otf") }

@font-face {
  font-family: 'ko-bold';
  src: url("/css/font/NotoSansCJKkr-Bold.otf"); }

@keyframes fadeIn {
  100% {
    opacity: 1; } }

@keyframes popDown {
  0% {
    transform: translateY(-6.25rem); } }

@keyframes slideUp {
  0% {
    transform: translateY(18.75rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideDown {
  0% {
    transform: translateY(-18.75rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-18.75rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(18.75rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@keyframes popIn {
  0% {
    transform: scale(0); }
  60% {
    opacity: 1;
    transform: scale(1.05); }
  80% {
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

a {
  text-decoration: none;
  color: inherit; }

body {
  color: #111111;
  background-color: #ffffff;
  font-family: 'ko';
  text-align: center;
  margin: 0px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#preload {
  display: none; }

.disable-hover {
  pointer-events: none; }

.overflow-wrap {
  overflow-x: hidden; }

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);}

.button {
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 0.8rem;
  transition: all .5s;
  cursor: pointer; }
  .button:hover {
    background-color: #1be3c8;
    border-color: #1be3c8; }
  .button .mdi {
    vertical-align: middle; }

.bold {
  font-family: 'ko-bold'; }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .flex.row {
    flex-direction: row; }
  .flex.wrap {
    flex-wrap: wrap; }

.highlight {
  color: #1be3c8; }

.header {
  font-size: 2.5rem;
  font-family: 'ko-bold';
  position: relative;
  color: #363630; }

.header-bar {
  margin: 1rem 0 1.2rem 0;
  width: 70px;
  height: 4px;
  background: #363630; }

.label {
  font-size: 1rem;
  font-weight: 500; }

.waypoint {
  opacity: 0; }

.animated.waypoint#gallery {
  opacity: 1; }
  .animated.waypoint#gallery .mix:nth-child(1) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.1s ease both; }
  .animated.waypoint#gallery .mix:nth-child(2) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.2s ease both; }
  .animated.waypoint#gallery .mix:nth-child(3) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.3s ease both; }
  .animated.waypoint#gallery .mix:nth-child(4) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.4s ease both; }
  .animated.waypoint#gallery .mix:nth-child(5) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.5s ease both; }
  .animated.waypoint#gallery .mix:nth-child(6) > div {
    opacity: 0;
    animation: slideUp 0.75s 0.6s ease both; }

  .animated.slide-up {
    animation: slideUp .75s ease both; }
  .animated.slide-down {
    animation: slideDown .75s ease both; }
  .animated.slide-in-left {
    animation: slideInLeft .75s ease both; }
  .animated.slide-in-right {
    animation: slideInRight .75s ease both; }
  .animated.flip-in-x {
    animation: flipInX .75s ease both; }
  .animated.fade-in {
    animation: fadeIn .75s ease both; }
  .animated.pop-in {
    animation: popIn 1s both; }

.flex.row-gt-sm {
  flex-direction: row; }
.flex-50-gt-sm {
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: 50%;
  max-height: 100%;
  box-sizing: border-box; }

.shadow {
  overflow: hidden;
  height: 1rem;
}

.shadow:after { 
  display: block;
  width: 100%;
  box-shadow: #111111;
}

ul {
  font: inherit;
  list-style:none;
}

.timeline {
  margin: 2rem 6.5rem 0 0;
  position: relative;
  /* max-width: 75rem; */
}

.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}

.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

.timeline-event-copy {
  padding: 2rem;
  position: relative;
  top: -1.875em;
  left: 0;
  width: 100%;
  height: 6rem;
}
.timeline-event-copy h3 {
  font-size: 1.5em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.2em 1em 0.2em 1em;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3rem;
  width: 100%;
  color: #ffffff;
  background-color: #363630;
  border-bottom: 3px solid #1be3c8;
  text-align: left;
  z-index: 99; }
  nav.fixed {
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed; }
    nav.fixed.desk {
      animation: popDown .5s; }
  nav .link-wrap {
    max-width: 75rem;
    width: 100%;
    position: absolute;
    top: .6rem;
    background: #363630;
    overflow: visible;
    height: 0;
    text-align: left;
    transition: height .3s ease-out; }
    nav .link-wrap.visible {
      height: 15rem; }
    nav .link-wrap div {
      margin: 0 1rem;
      font-size: 1rem;
      cursor: pointer;
      transition: color .25s;
      display: inline;
      text-transform: uppercase; }
    nav .link-wrap div:hover {
      color: #1be3c8; }
  nav .active {
    color: #1be3c8; }

section {
  padding: 4rem 0 3rem 0;
  position: relative;
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);}
  section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 9px;
    width: 100%;
    box-sizing: border-box; }
  section:nth-of-type(1) {
    height: calc(100vh + 3rem); }
    section:nth-of-type(1) .text {
      margin: -7rem 0 2rem 0;
      color: #ffffff;
      font-size: 2.5rem;
      line-height: 3rem;
      z-index: 1;
      pointer-events: none; }
    section:nth-of-type(1) .button {
      color: #ffffff;
      padding: 12px 24px 12px 24px;
      font-size: 1rem;
      position: relative;
      margin-bottom: 4rem; }
      section:nth-of-type(1) .button .mdi {
        top: 16px; }
  section:nth-of-type(2) {
    color: #363630;
    background-color: #ffffff;}
    section:nth-of-type(2) .highlight {
      font-family: 'ko'; }
    section:nth-of-type(2) .text {
      margin: 0 0 20px 0;
      font-size: 16pt;
      line-height: 20pt;
      z-index: 1;
      pointer-events: none; }
  section:nth-of-type(3) {
    color: #111111;
    background-color: #ffffff;}
    section:nth-of-type(3) .highlight {
      color: #E31B6D; }
    section:nth-of-type(3) .skills-wrapper {
      align-items: flex-start;
      width: 100%; }
    section:nth-of-type(3) .skills-wrapper > .flex:first-child{
      padding: 0 3rem 0 3rem; }
      section:nth-of-type(3) .skills-wrapper .me {
        height: 2rem; }
      section:nth-of-type(3) .skills-wrapper .label {
        margin: .2rem 0 .2rem 0; }
    section:nth-of-type(3) .bars-wrap {
      margin: 2.5rem auto 0 auto;
      width: calc(100% - 3rem);
      max-width: 90%; }
    section:nth-of-type(3) .bars-wrap:not(.animated) .fill {
      width: 0 !important; }
    section:nth-of-type(3) .bar {
      color: #363630;
      height: 1.4rem;
      position: relative;
      background-color: #ddd;
      margin: 0 0 .7rem 0;
      align-items: flex-end;
      font-size: 6.75pt; }
      section:nth-of-type(3) .bar:nth-child(1) .fill {
        transition: 1.1s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(2) .fill {
        transition: 1.2s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(3) .fill {
        transition: 1.3s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(4) .fill {
        transition: 1.4s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(5) .fill {
        transition: 1.5s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(6) .fill {
        transition: 1.6s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(7) .fill {
        transition: 1.7s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(8) .fill {
        transition: 1.8s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(9) .fill {
        transition: 1.9s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar:nth-child(10) .fill {
        transition: 2.0s 0.2s width ease-in-out; }
      section:nth-of-type(3) .bar.fill {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #00A1A7;
        padding: 0;
        opacity: 1; }
      section:nth-of-type(3) .bar .tag {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #04C2C9;
        color: #fff;
        height: 100%;
        width: 4rem; }
      section:nth-of-type(3) .bar span {
        z-index: 1;
        display: initial; 
        padding: 0 1rem 0 0; }
    section:nth-of-type(4) {
      background: #ffffff; }
      section:nth-of-type(4) .container {
        padding: 0; }
      section:nth-of-type(4) .filter-wrap {
        position: relative; }
      section:nth-of-type(4) .filter {
        font-size: 1rem;
        font-weight: 600;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color .5s; }
      section:nth-of-type(4) .float-bar {
        top: 0;
        bottom: 0;
        left: 30px;
        height: 30px;
        position: absolute;
        margin: auto 0;
        position: absolute;
        overflow: hidden;
        height: 25px;
        border-radius: 1px;
        background: #E31B6D;
        transition: all .5s ease-in-out; }
        section:nth-of-type(4) .float-bar .row {
          top: 0;
          bottom: 0;
          left: -30px;
          position: absolute;
          margin: auto 0;
          transition: left .5s ease-in-out; }
          section:nth-of-type(4) .float-bar .row .filter {
            color: #363630; }
      section:nth-of-type(4) .text {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%; }
      section:nth-of-type(4) #gallery {
        margin: 20px 0; }
        section:nth-of-type(4) #gallery .text, section:nth-of-type(3) #gallery .button {
          z-index: 2;
          text-align: center;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          color: #363630; }
          section:nth-of-type(4) #gallery .text .bold, section:nth-of-type(3) #gallery .button .bold {
            font-size: 16pt; }
        section:nth-of-type(4) #gallery .button {
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          color: #363630;
          border: 2px solid #E31B6D;
          width: 170px;
          margin: 0 auto;
          font-size: 13pt;
          padding: 7px 0; }
        section:nth-of-type(4) #gallery .mix {
          display: none;
          position: relative; }
          section:nth-of-type(4) #gallery .mix .waypoint {
            background: #363630; }
          section:nth-of-type(4) #gallery .mix .button:hover {
            background: #E31B6D;
            color: #363630; }
          section:nth-of-type(4) #gallery .mix:nth-child(1) .card {
            background: url("http://findmatthew.com/style/../img/thumb-1.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(2) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(3) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(4) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(5) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(6) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(7) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(8) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
          section:nth-of-type(4) #gallery .mix:nth-child(9) .card {
            background: url("http://findmatthew.com/style/../img/thumb-2.jpg") center center/cover; }
        section:nth-of-type(4) #gallery .mix .card {
            height: 240px;
            max-width: 100vw;
            width: calc(50vw - 8px);
            cursor: pointer;
            transition: opacity .5s; }
        section:nth-of-type(4) #gallery .mix:hover .card {
          opacity: 0; }
        section:nth-of-type(4) #gallery .mix:hover .text {
          opacity: 1;
          top: 24%; }
        section:nth-of-type(4) #gallery .mix:hover .button {
          opacity: 1;
          bottom: 24%; }
  section .flex-50-gt-sm {
    display: initial; }
  section:nth-of-type(5) {
    padding: 130px 0 180px 0;
    background-color: #ffffff;
    text-align: left; }
    section:nth-of-type(5) .flex .row-gt-sm, section:nth-of-type(4) .flex.wrap {
      align-items: flex-start; }
    section:nth-of-type(5) .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    section:nth-of-type(5) .blog-wrap {
      margin: 0 0 50px 0;
      padding: 0 2px;
      width: 100%;
      cursor: pointer; }
      section:nth-of-type(5) .blog-wrap #thumb-1 {
        background: url("http://findmatthew.com/style/../img/blog-1.jpg") center center/cover; }
      section:nth-of-type(5) .blog-wrap #thumb-2 {
        background: url("http://findmatthew.com/style/../img/blog-1.jpg") center center/cover; }
      section:nth-of-type(5) .blog-wrap #thumb-3 {
        background: url("http://findmatthew.com/style/../img/blog-1.jpg") center center/cover; }
      section:nth-of-type(5) .blog-wrap #thumb-4 {
        background: url("http://findmatthew.com/style/../img/blog-1.jpg") center center/cover; }
      section:nth-of-type(5) .blog-wrap .fade-wrap {
        transition: opacity .3s; }
      section:nth-of-type(5) .blog-wrap.fade .fade-wrap {
        opacity: 0.4; }
      section:nth-of-type(5) .blog-wrap.hover .fade-wrap .label {
        color: #04C2C9; }
    section:nth-of-type(5) .label {
      line-height: 14pt;
      font-size: 12pt;
      transition: color .3s ease-in-out; }
    section:nth-of-type(5) .thumb {
      height: 150px;
      margin: 0 0 15px 0; }
    section:nth-of-type(5) .date {
      font-size: 7pt;
      font-family: 'Open sans';
      margin: 5px 0 0 0; }
    section:nth-of-type(5) .bar {
      height: 3px;
      width: 25%;
      background: #04C2C9;
      margin: 10px 0px; }
    section:nth-of-type(5) .text {
      font-size: 9pt;
      line-height: 13pt;
      max-height: 85px; }
  section:nth-of-type(6) {
    background: #363630;
    color: #fff;
    padding-bottom: 0.1rem;}
    section:nth-of-type(6) .header {
      color: #fff; }
    section:nth-of-type(6) .header-bar {
      margin: 1.5rem 0 2rem 0;
      background: #fff;
      width: 110px; }
    section:nth-of-type(6) .highlight {
      font-weight: 600;
      color: #1be3c8; }
    section:nth-of-type(6) form {
      margin: 2rem auto 0 auto;
      min-width: 50%; }
    section:nth-of-type(6) input[type="email"] {
      display: block;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border: 0;
      padding: .625rem 1rem;
      background: #1E242C;
      font-size: .9rem;
      margin-bottom: .5rem;
      color: #fff; }
    section:nth-of-type(6) textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border: 0;
      padding: .625rem 1rem;
      background: #1E242C;
      font-size: .9rem;
      margin-bottom: .5rem;
      color: #fff; 
      min-height: 6.25rem;
      margin-bottom: 5px; }
    section:nth-of-type(6) .button {
      float: right;
      margin: 5px 0 0 0;
      font-size: 1rem;
      padding: .6rem 1.2rem;
      color: #fff;
      background: transparent;
      outline: 0; }
      section:nth-of-type(6) .button:hover {
        background: #1be3c8; }

footer {
  background: #363630;
  position: relative; }
  footer .icon-wrap .icon {
    overflow: hidden;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    position: relative;
    text-align: center;
    margin: 0 .5rem;
    background:#363630;
    font-size: 1.5rem; }
  footer .icon-wrap .fab {
    text-align: center;
    color: #fff; }
  footer .icon-wrap .icon:hover {
    background: #1be3c8;
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9); }
  footer .icon-wrap .icon:hover .fab {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards; }
  footer .footnote {
    font-size: .8rem;
    color: #8F9AA7;
    padding-top: .5rem;
    opacity: 0.6; 
    padding-bottom: .8rem;}
    footer .footnote .highlight {
      font-family: 'ko-bold';
      color: #1be3c8; }
